div#fixednav{
    position: fixed;
    top: 0;    
    width: 1345px;
    height: 64px;
    border-bottom: 1px solid black;
}

div#seminav{
    position: relative;
    top: 64px;
    width: 1345px;
    height: 58px;
    border-bottom: 1px solid black;
}

aside{
    position: absolute;
    top: 222px;
    right: 5%;
    width: 454px;
    border: 1px solid grey;
}

div#main{
    position: relative;
    margin-top: 5px;
    top: 58px;
    left: 10%;
    width: 592px;
    display: inline-block;
    border: 1px solid black;
}

p{
    position: inherit;
    display: inherit;

}

